.navLogo {
  width: 50px;
  height: 50px;
}

.productNav {
  text-transform: capitalize;
  color: white;
}

.card-img-top {
  cursor: pointer;
}

.cartIcon {
  width: 30px;
  height: 30px;
}

.cardFooter {
  border: 1px solid;
  color: blue;
  background-color: lightgray;
}

.btn-quantity {
  border: 2px solid black !important;
  border-radius: 0 !important;
}

.btn-quantity:hover {
  background: lightblue;
}
